@model CarReservationViewModel

<h3>Reserve Car</h3>
<form asp-action="Reserve" asp-controller="Reservation" method="post">
    <input type="text" asp-for="CarId" />
    <input type="hidden" asp-for="StartDate" />
    <input type="hidden" asp-for="EndDate" />

    <label>Brand:</label> <span>@Model.Brand</span><br />
    <label>Model:</label> <span>@Model.Model</span><br />
    <label>Location:</label> <span>@Model.Location</span><br />
    <label>Price per Day:</label> <span>@Model.PricePerDay</span><br />
    <label>Total Price:</label> <span>@Model.TotalPrice</span><br />

    <button type="submit">Confirm Reservation</button>
</form>
