@model FinalProjectMVC.ViewModels.Blog.BlogIndexModel

<body>
    <div class="container-main">
        <div class="headof">
            <h1>BLOG POST PAGE</h1>
            <div class="nav1">
                <a href="#">Home</a> &gt; <a href="#">Blog</a> &gt; Blog with Left Sidebar
            </div>
        </div>
        <div class="content">
            <div class="sidebar">
                
               
          
                <div class="sidebar-section">
                    <h3>DETAIL RESERVATION</h3>
                    <div class="reservation-detail">
                        <h4>PICKING UP LOCATION</h4>
                        <p><i class="fa fa-calendar"></i> 15 January 2015 / 08:00 am<br><i class="fa fa-plane"></i> From SkyLine AirPort</p>
                        <h4>DROPPING OFF LOCATION</h4>
                        <p><i class="fa fa-calendar"></i> 15 January 2015 / 08:00 am<br><i class="fa fa-plane"></i> From SkyLine AirPort</p>
                        <button class="btn">UPDATE RESERVATION</button>
                    </div>
                </div>
                <div class="sidebar-section">

                    <h3>TESTIMONIALS</h3>
                    <div class="border p-4 bg-light mt-4">
                        <h5 class="text-uppercase mb-4">Testimonials</h5>

                        @if (Model.Testimonials != null && Model.Testimonials.Any())
                        {
                            <div class="testimonial-slider">
                                @for (int i = 0; i < Model.Testimonials.Count(); i++)
                                {
                                    var testimonial = Model.Testimonials.ElementAt(i);
                                    <div class="testimonial mb-3" data-index="@i" style="display: @(i == 0 ? "block" : "none");">
                                        <p>@testimonial.Comment</p>
                                        <p>UserName:@testimonial.UserId</p>
                                        <p><strong>Rating: @testimonial.Rating/5</strong></p>
                                    </div>
                                }
                            </div>

                            <div class="testimonial-indicators text-center mt-3">
                                @for (int i = 0; i < Model.Testimonials.Count(); i++)
                                {
                                    <span class="dot @(i == 0 ? "active" : "")" data-index="@i"></span>
                                }
                            </div>
                        }
                        else
                        {
                            <p class="text-muted">No testimonials available at the moment.</p>
                        }
                    </div>

                </div>
              

                <div class="sidebar-section">
                    <h3>TWITTER</h3>
                    <div class="twitter-feed">
                        <div class="tweet">
                            <i class="fa-brands fa-twitter"></i>
                            <span class="twitter-handle">twittername</span> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            <div class="tweet-time">1 minute ago</div>
                        </div>
                        <div class="tweet">
                            <i class="fa-brands fa-twitter"></i>
                            <span class="twitter-handle">twittername</span> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            <div class="tweet-time">1 minute ago</div>
                        </div>
                    </div>
                </div>

                
            </div>
            <main class="main-content">

                <div class="post">
                <div class="container mt-5">

                        @if (Model.BlogPosts != null && Model.BlogPosts.Any())
                        {
                            @foreach (var post in Model.BlogPosts)
                            {
                                <div class="post mb-5">
                                    <div class="post-image">
                                        <img src="@post.ImageUrl" alt="@post.Title" style="width: 100%; height: auto;">
                                    </div>
                                    <div class="post-content mt-3">
                                        <h1 class="post-title">@post.Title</h1>
                                        <p class="post-meta">
                                            By @post.Author / @post.CreatedAt.ToString("MMMM dd, yyyy")
                                        </p>
                                        <p class="post-text">
                                            @post.Content.Substring(0, Math.Min(post.Content.Length, 200))...
                                        </p>
                                        <a href="@Url.Action("Details", "Blog", new { id = post.Id })" class="btn btn-primary">READ MORE</a>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p class="text-center text-muted">No blog posts available at the moment.</p>
                        }
                </div>
                </div>




            </main>


    
</body>
